input:focus {
    outline: none;
}


/* Order Sec 2 */

.order-wrapper {
    float: left;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

.order-inner {
    float: left;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    border: 2px solid;
    z-index: 1;
}

.order-inner>h4 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    margin: 30px 0;
}

.order-list-wrapper {
    float: left;
    width: 100%;
}

.order-list-wrapper>ul {
    list-style: none;
}

.order-list-inner {
    padding: 0 14px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.order-list-inner>li {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.order-list-inner>li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.dish-name>h6 {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    color: black;
    margin: 0;
}

.dish-name>img {
    height: 100%;
    padding-bottom: 10px;
    ;
}

.dish-name .price {
    font-size: 15px;
    float: right;
    font-family: Poppins;
    font-weight: 700;
}

.dish-ingredients {
    float: left;
    width: 100%;
    margin-top: 10px;
    font-family: Lato;
    color: #636363;
}

.gradient-brd:before {
    background: -moz-linear-gradient(0deg, #e03335 0%, #00cfc8 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e03335), color-stop(100%, #00cfc8));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #e03335 0%, #00cfc8 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #e03335 0%, #00cfc8 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #e03335 0%, #00cfc8 100%);
    /* ie10+ */
    background: linear-gradient(90deg, #e03335 0%, #00cfc8 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e03335', endColorstr='#00cfc8', GradientType=1);
    /* ie6-9 */
}

.gradient-brd:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.gradient-brd:after {
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    content: "";
}

.mor-ingredients {
    width: 100%;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}

.qty-wrap {
    margin-top: 20px;
    float: left;
}

.qty-wrap.input-group {
    max-width: 150px;
}

.qty-wrap .form-control,
.qty-wrap .input-group-btn {
    height: 35px;
    width: 40px;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
}

.remove-btn {
    height: 35px;
    width: 100px;
    float: right;
    text-align: center;
    font-family: Poppins;
    margin-top: 20px;
}

.remove-btn input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(238, 235, 235);
    color: #545353;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    border: none
}

.remove-btn input:hover {
    background-color: #e74c3c;
    color: white;
}

.table_responsive {
    overflow-x: auto;
}


/*----------------------------- order form -------------------------------*/

.grand-totall {
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
    padding: 20px 30px 50px;
}

.grand-totall h5 {
    margin: 20px 0px;
}

.grand-totall>h5 span {
    float: right;
}

.total-shipping ul li input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: #626262;
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
}

.total-shipping {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.total-shipping ul li {
    list-style: outside none none;
    margin: 0 0 6px;
}

.total-shipping ul li:last-child,
.register-us-2 li:last-child {
    margin: 0 0 0px;
}

.total-shipping ul li span {
    float: right;
}

h4.grand-totall-title {
    color: #e74c3c;
    font-size: 20px;
    margin: 25px 0px;
}

h4.grand-totall-title span {
    float: right;
}

.checkout-button {
    font-family: Poppins;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #161616;
    border-color: #161616;
}

.checkout-button:hover {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.table_responsive {
    overflow-x: auto;
}

.table_responsive {
    overflow-x: auto;
}