.container {
    padding: 0px;
    max-width: 1380px;
}

@media (max-width: 767px) {
    .hidden {
        display: none;
    }
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #272727;
}

#mainNavbar .container {
    padding: 0px;
    max-width: 900px;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar-toggler {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px;
}

.title-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.title-wrapper .title-inner>h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.title-inner {
    display: inline-block;
    max-width: 55%;
    vertical-align: middle;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: #373636;
    border-radius: 30px;
    padding: 3px;
    width: 75%;
    margin-left: 5px;
    margin-right: 1px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    caret-color: #e74c3c;
    line-height: 40px;
    width: 80%;
}

.search_icon {
    height: 38px;
    width: 38px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #373636;
    color: #e74c3c;
    text-decoration: none;
}

.search_icon:hover {
    background: white;
    color: #e74c3c;
    transition: all 0.1s linear 0s;
}

.shoppingbag {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
}

.shoppingbag:hover {
    color: #e74c3c;
    transition: all 0.1s linear 0s;
}