header {
    float: left;
    width: 100%;
    z-index: 999;
    position: relative;
    -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, .18);
    -ms-box-shadow: 0 4px 2px rgba(0, 0, 0, .18);
    -o-box-shadow: 0 4px 2px rgba(0, 0, 0, .18);
    box-shadow: 0 4px 2px rgba(0, 0, 0, .18);
}

header.stick {
    position: fixed;
    top: 0;
    left: 0;
}

.topbar {
    background-color: #161616;
    float: left;
    width: 100%;
    height: 40px;
}

.topbar-register {
    float: right;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    color: #fff;
    padding: 12px 0 14px 40px;
    border-left: 1px solid rgba(229, 229, 229, .2);
    margin-left: 35px;
}

.topbar-register>a:hover,
.social1>a:hover {
    color: #e74c3c;
}


/*===== Topbar Social =====*/

.social1 {
    float: right;
    margin-top: 8px;
}

.social1>a {
    font-size: 18px;
    color: #b3b3b3;
    float: left;
}

.social1>a+a {
    margin-left: 15px;
}

@media (max-width: 767px) {
    .hidden {
        display: none;
    }
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #161616;
}

#mainNavbar .container {
    padding: 0px;
    max-width: 850px;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #e74c3c;
}

#mainNavbar .navbar-brand {
    color: #e74c3c;
    font-size: 1.5rem;
}

.navbar-toggler {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px;
}

.title-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.title-wrapper .title-inner>h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.title-inner {
    display: inline-block;
    max-width: 55%;
    vertical-align: middle;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: #373636;
    border-radius: 30px;
    padding: 3px;
    width: 70%;
    margin-left: 5px;
    margin-right: 5px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    caret-color: #e74c3c;
    line-height: 40px;
    width: 80%;
}

.search_icon {
    height: 38px;
    width: 38px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #373636;
    color: #e74c3c;
    text-decoration: none;
}

.search_icon:hover {
    background: white;
    color: #e74c3c;
    transition: all 0.1s linear 0s;
}

.shoppingbag {
    height: 35px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    padding-left: .5rem;
}

.shoppingbag span {
    width: 12px;
    height: 12px;
    line-height: 18px;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding-left: 2px;
    ;
}

.shoppingbag>a:hover {
    color: #e74c3c;
    transition: all 0.1s linear 0s;
}