.container {
    padding: 0px;
    max-width: 1240px;
}

.title-wrapper {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

.title-wrapper .title-inner>h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.title-inner {
    font-family: Poppins;
    display: inline-block;
    max-width: 55%;
    vertical-align: middle;
    text-transform: uppercase;
}

/* temporary added for account page*/
.link{
    color: black;
}
.link:hover{
    color: red;
    text-decoration: underline;
}